<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<th:block th:fragment="header">
		<div class="heder-area">
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/}">Vegan&Organic</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
						aria-label="Toggle navigation" aria-hidden="true" sec:authorize="isAuthenticated()">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggler" sec:authorize="isAuthenticated()">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" th:href="@{/store/index}">HOME</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/user/index}">
									User Mater
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/master/logout}">
									Logout
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="dropdown">

	</th:block>
</body>

</html>